<!-- 2. Reactive forms
            user interaction and validations are handled in our TS files
            We will be implementing formGroup and  formbuilder in order to build 
            reactive form 
            we can control the form action better in reactive forms
        
            steps
                1. import the form module in our application
                2. Give a name of our form
                3. Include the form builder and formControlName, FormGroup
                4.Create the Form instance
            
                For step 4.
                ngOnInIt() : just for the initial  declaration or setup for capturing the data or API
            -->
<p>form2 works!</p>
<!-- Reactive form -->
<form [formGroup]="addForm">
    <input type="text" formControlName="fn" name="" id=""> 
    <span style ="color: red" *ngIf="addForm.get('fn').hasError('required') && 
    addForm.get('fn').touched">Need to fill the entry </span>
    <span style ="color: orange" *ngIf="addForm.get('fn').hasError('minlength') && 
    addForm.get('fn').touched">Should have minimum of 5 characters</span><br><br>

    <input type="text" formControlName="type" name="" id=""><br><br>

    <textarea formControlName="description"name="" id="" cols="30" rows="10"></textarea>
    <span style ="color: orange" *ngIf="addForm.get('description').hasError('maxlength') 
    && addForm.get('fn').touched">Only maximium of 10 Characters allowed</span><br><br>


    <!-- <div formArrayName="users">

        <div *ngFor="let c of addForm.controls['users']['controls']; let i=index">
            <input type="text" [formControlName]="i"> 
    
        </div>
    </div> -->
    
    <div formArrayName="users">

        <div *ngFor="let c of addForm.controls['users']['controls']; let i=index;"[formGroupName]="i">
            <input type="text" formControlName="name"> 
            <input type="text" formControlName="Marks"  (blur)="assign(i)"> 
            <input type="text" formControlName="branch"> 
            <button (click) = "removeElement(i)">REMOVE</button>
            <button (click) = "assign(i)">ASSIGN</button>
        </div>
    </div>

    <button (click)="addval()" [disabled]="!addForm.valid">CLICK ON</button>
    <button (click)="resetForm()">Reset Form</button>
    <button (click)="addUser()">ADD ELEMENTS</button>
    

</form>

